* {
    font-family: 'Nanum Brush Script';
}
  
/* 전체 배경과 텍스트 스타일 지정 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-image: url('https://i.pinimg.com/564x/68/1f/a8/681fa8277ff4aeed25d8e76b7a93fd56.jpg');
    background-size: cover;
} 

/* 편지지 스타일 */
.letter {
    position: relative;
    width: 80vw; /* 모바일에서도 적당한 크기로 조정 */
    max-width: 370px; /* 최대 너비를 설정 */
    height: 450px;
    background-image: url('https://i.pinimg.com/564x/cb/2d/84/cb2d841ec6bc2f42c291c9d734fe1717.jpg');
    background-size: cover;
    border-radius: 30px;
    z-index: 100;
    border: 3px solid white;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.opened {
    opacity: 1;
    transition: opacity 0.5s linear;
}

/* 버튼 스타일 */
.btn-toggle {
    position: absolute;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
    padding: 10px;
    border: none;
    background-color: #e60d0dc1;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 200;
}

/* 버튼에 마우스를 올렸을 때 색상 변경 */
.btn-toggle:hover {
    background-color: #e60d0d; 
}

p {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.p-title {
    font-size: 80px;
}

.p-sub {
    font-size: 35px;
}

.p-message {
    width: 65%;
    font-size: 25px;
    word-wrap: break-word;
    margin: 0 auto;
}

.p-name {
    text-align: end;
    padding-right:80px;
}

